html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.row {
  display: flex;
}

.case {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess {
  margin-bottom: 50px;
  height: 50px;
}

.keyboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(10, 1fr);
  gap: 2px;
  width: 400px;
}

.keypad-button {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  background-color: lightgrey;
}

.span-2 {
  grid-column: auto/ span 2;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.neutral {
  background-color: lightgrey;
}

.dark {
  background-color: grey;
}

.secret {
  color: white;
}
